body{
   margin: 0px;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
}






main{
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;


}
h1, h2, h3{
    text-align: center;
}

img{
    width: 700px;
    margin-left: 300px;
}

p{
    font-size: 24px;
}
